<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %> 
  </head>
  <body>
    <% include partials/menu %> 
    
    <div class="container-fluid bg-3 text-center">    
      <h3><%= title %></h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          
        </div>
        <div class="col-sm-4"> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-sm-4"> 
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="row">
        <% for(let i =0 ; i< blogs.length; i++) { %> 
          <div>
            <h3><%= blogs[i].title%></h3>
            <div><%= blogs[i].content%></div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
  <% include partials/script %> 
</html>