<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %> 
  </head>
  <body>
    <% include partials/menu %> 
    
    <div class="container-fluid bg-3 text-center">    
      <h3><%= title %></h3><br>
      <div class="row">
        <form method="POST" action="account">
          <input type="text" name="email" placeholder="Email">
          <br/>
          <input type="password" name="password" placeholder="Password">
          <br/>
          <input type="submit" value="Login">
        </form>
      </div>
    </div>
  </body>
  <% include partials/script %> 
</html>