<!DOCTYPE html>
<html>
  <head>
    <% include partials/header %> 
  </head>
  <body>
    <% include partials/menu %> 
    
    <div class="container-fluid bg-3 text-center">    
      <h3><%= title %></h3><br>
      <div class="row">
        Here is <b><%= email %></b>
      </div>
    </div>
  </body>
  <% include partials/script %> 
</html>